* {padding: 0px;
	margin:0px;
}
.menutop{
	height: 100px;
	background: white;
	margin: 0px;
	padding: 0px;
	}

.menutop ul li a {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 25px;
}

.menutop ul li {
}

.menutop .container {
    background: white;
}

a.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.navbar-default {}

nav.navbar.navbar-default {
    height: 100px;
    background: white;
    border: 1px solid white;
}

.menutop img {
    height: `100px;
}

.menutop img {
    height: 100px;
  
}
@media (max-width: 576px) {
	*{}

.menutop a {
    margin-top: 0px !important;
}

img {
    height: 50px !important;
    margin-left: auto;
    margin-right:auto;
    
}

.menutop img {
}

img {/* height: 70px; */}
}
@media (max-width: 768px) {
	*{}

img {}

.menutop img {
    margin: 0px !important;
}

.menutop a {
    font-size: 10px !important;
}

.menutop img {
    margin-top: 10px;
}
}